/* @import 'tailwindcss'; */
@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
  .container-card {
    @apply 
        
           w-full mx-auto
           px-4
           sm:px-12
           lg:px-16
           xl:px-20
           2xl:px-24;
  }
}

/* @layer components {
  .page-wrapper {
    @apply  mx-auto px-4 sm:px-6 lg:px-8 xl:px-10 2xl:px-14;
  }
} */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
.heart {
  position: fixed;
  width: 14px;
  height: 14px;
  background: #ff5c8a;
  transform: rotate(45deg);
  pointer-events: none;
  animation: heartFloat 1s ease-out forwards;
  z-index: 9999;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #ec4c79;
  border-radius: 50%;
}

.heart::before {
  top: -7px;
  left: 0;
}

.heart::after {
  left: -7px;
  top: 0;
}

@keyframes heartFloat {
  0% {
    opacity: 1;
    transform: translate(0, 0) rotate(45deg) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(0, -40px) rotate(45deg) scale(0.6);
  }
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
    --color-primary: #000080;
  --color-secondary: #FFD700;
  --color-accent: #F8FAFC;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-primary {
  background-color: #000080;
}

.text-primary {
  color: #000080;
}

.bg-secondary {
  background-color: #FFD700;
}

.text-secondary {
  color: #FFD700;
}


#app {
 min-height: 100vh;
}

